<div class="container" >
    <h3 class="mt-4 mb-4">Employee Details</h3>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="id3" class="form-label fw-semibold">Employee id </label>
            <input type="text" class="form-control" id="id3" style="background-color: white;" value="{{employeDetails?.id}}" >
          </div>
        <div class="col-md-6">
          <label for="id3" class="form-label fw-semibold">Employee Name </label>
          <input type="text" class="form-control" id="id3" style="background-color: white;" value="{{employeDetails?.employee_name}}" >
        </div>
        <div class="col-md-6">
            <label for="id3" class="form-label fw-semibold">Employee Salary </label>
            <input type="text" class="form-control" id="id3" style="background-color: white;" value="{{employeDetails?.employee_salary}}" >
          </div>
          <div class="col-md-6">
            <label for="id3" class="form-label fw-semibold">Employee Age </label>
            <input type="text" class="form-control" id="id3" style="background-color: white;" value="{{employeDetails?.employee_age}}" >
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-dark" data-bs-dismiss="modal" id="cancle"  (click)="updateEmployee()" >Update</button>
            <button type="submit" class="btn btn-dark" data-bs-dismiss="modal" id="cancle"  (click)="deleteEmployee()" >delete</button>
           
          </div>
    </form>

</div>





